.self-education {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 20px;
}

.self-education h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 30px;
  color: #333;
}

.courses {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.course-card {
  background: #f9f9f9;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.course-card:hover {
  transform: translateY(-5px);
}

.course-card h3 {
  margin: 0 0 10px;
  font-size: 1.5rem;
  color: #1a73e8;
}

.course-card p {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 10px;
}

.course-card .date {
  font-size: 1rem;
  color: #666;
}
.course-card img {
  display: block;
  max-width: 100%;
  margin-top: 20px;
  height: auto;
  border: 3px solid #ddd;      /* рамка */
  border-radius: 10px;          /* округлені кути */
  box-shadow: 0 4px 10px rgba(0,0,0,0.1); /* легка тінь */
}