    body {
        background: #F6F6FA;
        padding-left: 40px;
        padding-top: 40px;
        padding-bottom: 40px;
        padding-right: 40px;
        font-family: 'Montserrat', sans-serif;
        font-family: 'Montserrat', sans-serif;
    }

    ul, 
    ol {
        margin-top: 0px;
        margin-top: 0px;
    }
.wrapper {
     background: #ffffff;   
     display: flex;
     flex-direction: row-reverse;
     width: 1200px;
     margin: 0 auto;
    }

        /* My content */
.main-contant {
    padding-left: 88px;
    padding-top: 80px;
    padding-right: 40px;
    padding-bottom: 80px;
    box-sizing: border-box;
}

/* Sidebar */
.sidebar {
background: #bbccd1;
padding-top: 40px;
padding-bottom: 40px;
box-sizing: border-box;
width: 370px;
}

.sidebar-content {
    padding-left: 40px;
    padding-top: 40px;
    padding-right: 40px;
    box-sizing: border-box;
}
/* Contacts */
.contacts-title{
color: #161D2A;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    margin-top: 0px;
    margin-bottom: 8px;
}

.contacts-type {
    color: #161D2A;
       font-size: 14px;
        font-weight: 700;
        line-height: 24px;
        margin-right: 8px;
} 

.contacts-link{
    color: #2979FF;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        text-decoration-line: underline;
}

.contacts-item{
    margin-top: 0px;
    margin-bottom: 4px;
}
.contacts-conteiner {
    margin-bottom: 40px;
}

/* Skills kontainer */
.skills-container {
    margin-bottom: 40px;
}

.skills-title{
color: #161D2A;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    margin-top: 0px;
    margin-bottom: 8px;
}

.skills-list{
    padding-left: 16px;
}

.skills-list-item{
    color: #161D2A;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
}

.skills-container{
margin-bottom: 40px;
}

.skills-title{
    color: #161D2A;
        font-size: 22px;
        font-weight: 700;
        line-height: normal;
}

.skills-list{
padding-left: 16px;
}

.skills-list-item{
    color: #161D2A;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
}

/* Main contect */
.my-profession{
color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 17px;
    margin-top: 0px;
    margin-bottom: 8px;
}

.my-name{
    color: #000;
        font-size: 45px;
        font-weight: 700;
        line-height: 55px;
        margin-top: 0px;
        margin-bottom: 12px;
}
.my-descr{
    color: #595959;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
}
.my-info{
    margin-bottom: 40px;
}
/* My projects */
.my-projects-title{
color: #000;
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
    margin-top: 0px;
    margin-bottom: 8px;
}

.my-projekt-item{
    color: #000;
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
}

.my-project-list{
    padding-left: 16px;
}

.my-projekt-item-list{
    color: #005FFF;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        text-decoration-line: underline;
}

.my-projekt-item-tech{
    color: #595959;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
}

.my-projects-container{
    margin-bottom: 40px;
}

/* Work experience */
.work-experience-title{
    color: #000;
        font-size: 22px;
        font-weight: 700;
        line-height: 27px;
        margin-top: 0px;
        margin-bottom: 8px;
}

.work-experience-company{
    color: #000;
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        margin-top: 0px;
        margin-bottom: 12px;
}

.company-name{
color: #6D9BF5;
}

.work-experience-period{
    color: #A8A8A8;
        font-size: 12px;
        font-weight: 400;
        line-height: 15px;
        margin-bottom: 8px;
}
.work-experience-period-separator{
color: #000;
}
.work-experience-duties-list{
    padding-left: 16px;
}

.work-experience-duties-item{
color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.work-experience-container{
    margin-bottom: 12px;
}
.my-work{
    margin-top: 40px;
}

/* Education */
.education-title{
color: #000;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    margin-top: 0px;
    margin-bottom: 8px;
}
.education-college{
    color: #6D9BF5;
        font-size: 16px;
        font-weight: 700;
        line-height: normal;
        margin-top: 0px;
        margin-bottom: 8px;
}
.education-faculty{
    color: #000;
        font-family: "Courgette", cursive;
        font-weight: 400;
        font-style: normal;
        margin-top: 0px;
        margin-bottom: 8px;
      }
      
.education-period{
    color: #A8A8A8;
        font-size: 12px;
        font-weight: 400;
        line-height: normal;
        margin-top: 0px;
        margin-bottom: 8px;
}
.education-period-separator{
color: #000;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    margin-top: 0px;
    margin-bottom: 8px;
    }


